[submodule "external/stc"]
	path = external/stc
	url = https://github.com/nothings/stb.git
[submodule "external/ftxui"]
	path = external/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
